.sprite {
    background: url(images/sprite.png) no-repeat;
}
/* en galere */
.sprite-fleche-png {
    width: 10px;
    height: 9px;
    background-position: -112px -21px;
}
/* done */
.sprite-ico_comments-png {
    width: 10px;
    height: 10px;
    background-position: -112px -0px;
}

.sprite-ico_entry-png {
    width: 8px;
    height: 11px;
    background-position: -112px -41px;
}
/* done - TODO image à supprimer */
.sprite-quote-gif {
    width: 60px;
    height: 60px;
    background-position: -0px -0px;
}
/* done */
.sprite-rss-png {
    width: 30px;
    height: 30px;
    background-position: -71px -41px;
}
/* done */
.sprite-rss_comment-png {
    width: 30px;
    height: 30px;
    background-position: -71px -0px;
}
/* done */
.sprite-ulul-png {
    width: 6px;
    height: 6px;
    background-position: -112px -63px;
}

/* ul.gif ??? */