.sprite {
    background: url(download.png) no-repeat;
    display: block;
}

.sprite-sprite3 {
    width: 105px;
    height: 92px;
    background-position: -0px -0px;
}

.sprite-twitter-billet {
    width: 150px;
    height: 54px;
    background-position: -0px -92px;
}
