/* ajoutez dans ce fichier vos personnalisations */


/* Calendrier
-------------------------------------------------------- */
#calendar {
}

#calendar h2 {
}

#calendar table {
	border-collapse : collapse;
	font-size : .9em;
	text-align:center;
	margin : 0;
	padding:0;
}

#calendar caption {
	margin : 0 auto;
	padding : 0 0 0.3em 0;
	font-size : 1.2em;
}

#calendar abbr {
	border : none;
}

#calendar th, .cal td {
	border : none;
	padding : 1px;
}
#calendar td {
	text-align : center;
}
#calendar td a {
	text-decoration : underline;
	}
#calendar td.active a {
	font-weight : bold;
	color : #933522;
}

// ALBATOR news.google.fr pour twitter
.icon-fc {
    background-image: url("http://www.gstatic.com/news/img/3845041549-news-icons-fc.png");
}
.share-icon-twitter {
    background-position: -16px -1px;
    height: 14px;
    width: 21px;
}
.nsg .nsg-share-bar-table .share-button {
    opacity: 0.4;
}
.nsg .nsg-share-bar-table .hover .share-button {
    opacity: 0.9999;
}
// Pour les mobiles, on masque les menus
@media screen and (max-width: 799px) {
  #blogextra {
    display:none;
  }	
  #sidebar {
    display:none;
  }	
}